
AppMessage/AppMessage.xcodeproj/xcuserdata/*

AppMessage/Pods/*


AppMessage/Podfile.lock

*.xcuserstate

AppMessage/AppMessage.xcworkspace/xcuserdata/evermeer.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
