language: objective-c
podfile: Podfile
osx_image: xcode8

before_install:
- gem install cocoapods
- export LANG=en_US.UTF-8
- brew update || brew update
- if brew outdated | grep -qx xctool; then brew upgrade xctool; fi
- pod repo update
- pod install

script:
- xctool clean build -workspace AppMessage/AppMessage.xcworkspace -scheme AppMessage -sdk iphonesimulator10.0 ONLY_ACTIVE_ARCH=NO

notifications:
slack: evcloudkitdao:MKq6Epb73ir879SC5A3sIVa0

notifications:
webhooks:
urls:
https://webhooks.gitter.im/e/95c83671324a980ca4b5
on_success: change  # options: [always|never|change] default: always
on_failure: always  # options: [always|never|change] default: always
on_start: never     # options: [always|never|change] default: always
